{% set featured_grid_item_base_class = featured_grid_item_base_class|default('featured-grid-item') %}

{% if not featured_grid_item_modifiers %}
  {% set featured_grid_item_modifiers = [] %}
{% endif %}

{% if featured_item %}
  {% set featured_grid_item_modifiers = featured_grid_item_modifiers|merge(['featured']) %}
{% endif %}

{% if reversed %}
  {% set featured_grid_item_modifiers = featured_grid_item_modifiers|merge(['reverse']) %}
{% endif %}

<div {{ bem(featured_grid_item_base_class, featured_grid_item_modifiers, featured_grid_item_blockname) }}>
  {% if item_url is not empty %}<a href="{{ item_url }}">{% endif %}
  <div {{ bem('inner', featured_grid_item_modifiers, featured_grid_item_base_class) }}>
    <div {{ bem('info', featured_grid_item_modifiers, featured_grid_item_base_class) }}>
      {{ title_prefix }}

      {% if item_date and item_type %}
        {% include "@molecules/eyebrow/eyebrow.twig" with {
          eyebrow_date: item_date,
          eyebrow_type: item_type
        } %}
      {% endif %}

      {% if featured_item %}
        <div {{ bem('swoosh', [], featured_grid_item_base_class) }}>
      {% endif %}

      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: item_title,
        heading_blockname: featured_grid_item_base_class,
        heading_base_class: "title",
        heading_modifiers: featured_grid_item_modifiers
      } %}

      {% if featured_item %}
        </div>
      {% endif %}

      {{ title_suffix }}

      {% if featured_item %}
        {% block description %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: item_description,
            paragraph_blockname: featured_grid_item_base_class
          } %}
        {% endblock %}
      {% endif %}

      {% if featured_item %}
        <span class="button button--outline-white">{{ item_link_text}} </span>
      {% endif %}
    </div>

    <div {{ bem('gradient', featured_grid_item_modifiers, featured_grid_item_base_class) }}></div>

    <div {{ bem('image', [], featured_grid_item_base_class) }}>
      {% block image %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_src: item_image_src,
          responsive_image_blockname: 'image',
        } %}
      {% endblock %}
    </div>
  </div>
  {% if item_url is not empty %}</a>{% endif %}
</div>
