{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

<div {{ bem('layout-container', layout_modifiers) }}>

  <div {{ bem(main_base_class, main_modifiers, main_blockname) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
      <div {{ bem('site-top', [], main_content_base_class) }}>
        {% block page_header_top %}
          {% include "@organisms/site/site-header/site-header-top.twig" %}
        {% endblock %}

        {% block page_header %}
          {% include "@organisms/site/site-header/site-header.twig" with {
            header__burger_menu: true
          } %}
        {% endblock %}
      </div>

      {% block page_system %}
      {% endblock %}

      <div {{ bem('content-top', [], main_content_base_class) }}>
        {% block page_content_top %}{% endblock %}
      </div>

      <div {{ bem('content', [], main_content_base_class) }}>
        {% block page_content %}{% endblock %}
      </div>

      {% block page_footer %}
        {# CTA #}
        {% include "@molecules/cta/cta.twig" with {
          cta_heading: 'Lorem Ipsum CTA',
          cta_subheading: 'Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectater et. Curabitur blandit tempus porttitor.',
          cta_modifiers: ['secondary', 'no-margin']
        } %}

        {# Newsletter CTA #}
        {% include "@esauto_molecules/newsletter-cta/newsletter-cta.twig" %}
        {% include "@organisms/site/site-footer/site-footer.twig" %}
      {% endblock %}
    </main>
  </div>
</div>
