{% set teaser_base_class = teaser_base_class|default('teaser') %}

<div {{ bem(teaser_base_class, teaser_modifiers, teaser_blockname) }}>

    <div {{ bem('header', [], teaser_base_class)}}>
      {{ teaser_title }}
    </div>

    <div {{ bem('body', [], teaser_base_class)}}>
      {{ teaser_body }}
    </div>
</div>
